name: Build APK

on: [push]
jobs:
  build:
    runs-on: ubuntu-20.04 # 使用较旧的 Ubuntu 以兼容老环境

    steps:
    - [...](asc_slot://start-slot-16)uses: actions/checkout@v3

    - [...](asc_slot://start-slot-18)name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: gradle

    - [...](asc_slot://start-slot-20)name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      # [...](asc_slot://start-slot-22)尝试使用 assembleDebug，忽略部分过时错误
      run: ./gradlew assembleDebug --stacktrace

    - [...](asc_slot://start-slot-24)name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: app-debug
        path: app/build/outputs/apk/debug/app-debug.apk
